@model IEnumerable<CvSite.Data.Entities.Education>

<h2>My education</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Add education</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Institution</th>
            <th>Subject</th>
            <th>Period</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Institution</td>
                <td>@item.Subject</td>
                <td>
                    @item.StartDate.ToString("yyyy-MM-dd")
                    -
                    @(item.EndDate.HasValue
                                    ? item.EndDate.Value.ToString("yyyy-MM-dd")
                                    : "Ongoing")
            </td>
        </tr>
                }
    </tbody>
</table>

